
<div class="pre-footer">
  <div class="row">
  <p>Sketch runner is still in beta. Updates will keep coming progressively. Built for Sketch 3.7</p>
  </div>
  <a href="Runner.zip" role="button" class="button button-yellow downloadFromWebsiteURL" onclick="ga('send', 'event', 'download', 'download-plugin','downloaded', '0')">Download v<span class="currentVersion"></span></a>
  <p><small>If you have any problems please <a href="help.html">check the FAQ page</a></small></p>
</div>


<footer>
  <div class="footer-wrapper">
    <div class="copyright">
      <p>&copy 2016 - #sketcHHackday</p>
    </div>
    <div class="social">
      <!-- <a href="https://github.com/" class="support">View on github</a> -->
      <!-- <a href="#" class="face">f</a> -->
      <a href="https://twitter.com/Sketch_Runner" class="tweet"><img src="assets/images/twitter.svg" alt=""></a>
      <!-- <a href="#" class="linked">in</a> -->
    </div>
  </div>
</footer>
