@charset "utf-8";

// Our variables
$base-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: Georgia, serif;
$font-sans: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.75;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #1a1a1a;
$dark-text-color: #555;
$grey-color:       #ccc;
$grey-color-light:  light($grey-color, 15%);
$grey-color-lighter: lighten($grey-color, 25%);
$white: #ffffff;
$background-color: whitesmoke;
$brand-color:      #2a7ae2;
$yellow:           #FCD872;
$loader-color: $grey-color;

$loader-size: 32em;
$loader-animation-duration: 1.15s;



// Width of the content area
$content-width:    100%;

$on-palm:          420px;
$on-tablet:        700px;
$on-laptop:        1000px;
$on-desktop:       1300px;
$on-cinema:        1500px;

// Breakpoints
$bp-sm:                     420px;
$bp-md:                     700px;
$bp-lg:                     1000px;
$bp-xl:                     1300px;
$bp-xxl:                    1500px;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// -------------------------------------------------------------
// # Colors
// -------------------------------------------------------------
$color-background:         #F5F9FD;
$blue:                     #308ADF;
$dk-blue:                  darken(#308ADF,30%);
$light-blue:               lighten(#308ADF,10%);
$yellow:                   #FCD872;
$color-darkblue:           #26333C;
$color-run:                #62D1F0;
$color-goto:               #FAA24B;
$color-insert:             #7BD4C7;
$color-create:             #1CC877;
$color-apply:              #B1D584;
$black:                    #181c1e;
$light-black:              #272c2f;
$dark-grey:                #33393d;
$mid-grey:                 #404549;
$light-grey:               #ccc;
$off-white:                #eee;
$grey:                     #eee;
$milk:                     #fafafa;
$white:                    #fff;
$red:                      #fa5a5a;
$green:                    #82c8a0;
$cyan:                     #7fccde;
$purple:                   #cb99c5;
$transparantBG:            rgba(0, 0, 0, 0.2);
$lightgrey:                #dddddd;
$textcolor:                #4B4B4B;
$green:                    #6dcd9a;

// -------------------------------------------------------------
// # Misc
// -------------------------------------------------------------

$radius:                    3px;
$social-size:               1.2em;
$social-width:              20%;
